.f-diplomata {
  font-family: 'Diplomata SC', cursive !important;
}
.f-sancreek {
  font-family: 'Sancreek', cursive !important;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .navbar-text {
  font-family: 'Sancreek', cursive;
  font-size: x-large;
  margin-top: 7px;
  margin-bottom: 0px;
  color: #232c60;
}

.navbar-brand > img {
  height: 50px;
}

.navbar.navbar-default {
  background-color: #fff;
}

.dataTable th {
  display: none;
}

.service-ija .display-ija {
  display: inline !important;
}

.service-ijn .display-ijn {
  display: inline !important;
}

.display-ija img,
.display-ijn img {
  height: 18px;
}

.service-name {
  font-family: 'Diplomata SC', cursive;
}

.list-group-item {
  background-color: #eeb3b396;
}

.table-striped > tbody > tr {
  background-color: #c2b59785;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #eec97285;
}

.plane-media .media-object {
  width: 300px;
}

.plane-media.visible-xs-block .media-object {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .navbar-form .form-group {
    width: 100%;
  }
  .navbar-form .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    display: none;
  }
  .navbar-default .navbar-text {
    font-size: large;
    margin-top: 12px;
  }
  .dataTables_info,
  .dataTables_paginate,
  .dataTables_length {
    font-size: 10px;
  }
}
